{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   <body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="email"></i> <a href="">pocta@mail.com</a>
        <i class="phone"></i> +777765556556
      </div>
      <div class="social-links float-right">
        <a href="/static/css/insta.png" class="facebook"></a>
        <a href="#" class="instagram"></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Zhambyl's LIBRARY</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="">Top-100 knig</a></li>
          <li><a href="">Еще одна кнопка</a></li>
          <li><a href="">пока не кнопка</a></li>
          <li class="menu-bala"><a href="">Мышка сюда</a>
            <ul>
              <li><a href="#">что то</a></li>
              <li><a href="#">еще че то</a></li>
              <li><a href="#">вот еще </a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    <main id="main">

    <!--
      About Section-->
    <section id="about" class="">
      <div class="container">
        <div class="row">
          <div >
            <img src="/blog/static/css/insta.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Information about out library</h2>
            <h3>Some information</h3>


          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Some books</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Бойцовский клуб</a></h4>
              <p class="description">Автор Чак Паланик итд описание анау мынау</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">Над пропастью во ржи</a></h4>
              <p class="description">Не помню автора но книга прикольная</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Сто лет одиночества</a></h4>
              <p class="description">Тоже автора не помню но сама книга очень очень странная </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Алхимик</a></h4>
              <p class="description">Читая каждый раз понимаешь по другому</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="details">
                <h4>Alibek Adilzhan</h4>
                <span>Chief Executive Officer</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>Gulim Sagymbayeva</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-3.jpg" alt=""></div>
              <div class="details">
                <h4>Asyl Yerzhanuly</h4>
                <span>LENIVEC</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="/blog/static/css/insta.png" alt=""></div>
              <div class="details">
                <h4>Anuar Beisov</h4>
                <span>CTO</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <h3>Address</h3>
              <address>Furmanova Almaty</address>
                <h3>Phone Number</h3>
              <p><a href="">+777776995</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-email">
              <h3>Our Location</h3>
                <iframe src="https://www.google.com/maps/d/embed?mid=10mYJNuOZudz_Z1u3jbHH3zTBE9M8d1i9" width="600" height="300" padding-bottom="20px"></iframe>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #contact -->

  </main>
</body>
</html>