{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
        {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        {% endblock %}
        <div id="carousel" class="carousel_slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item">
              <img src="fon.png" alt="NBAAAA">
            </div>

            <div class="item">
              <img src="nba.jpg" alt="MANNDN">
            </div>

            <div class="item">
              <img src="fon.png" alt="AJJDSN">
            </div>
          </div>
        </div>
    </body>
</html>