body {
    padding-left: 0px;
background-color:white;
}
html {
  scroll-behavior: smooth;
}
#section1 {
  height: 10px;
}
#section2 {
  height: 400px;
  background-color: white;
}
.slider{
    margin-left:200px;
    width:80%;
    height: 300px;
    overflow: hidden;
    border: 10px solid #fffccf;

}
.middle{
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
}
.bar{
    height:8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #dddddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 300%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -30%;
}
#r3:checked ~ .s1{
    margin-left: -60%;
}
#r4:checked ~ .s1{
    margin-left: -90%;
}


.page-header {
background-color: black;
 opacity: 80%;
    margin-top: 0px;
 padding:0px;
}
.f{
   float: right;
    origin:right;
}
.s{
   float: right;
    origin:right;
}
.page-header {
    background-color: #003bb3;
    background-image: url("fon.png");
    width: 100%;
    height: 177px;
    margin-top: 0;
  padding: 20px 20px 20px 40px;}
.page-header h1, .page-header h1 a, .page-header h1 a:visited,.page-header h1 a:active {
    color: black;
        font-size: 36pt;
        text-decoration: underline;
}
.content {
    margin-left: 40px;
}
h1, h2, h3, h4 {

    font-family: 'Lobster', cursive;}
.date {
    color: #0044cc;
}
.save {		    float: right;
}
.post-form textarea, .post-form input {
        width: 50%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
      float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
    color: red;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: red;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: blue;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}



* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: red;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color:white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {    width: 100%;
 margin-top: 0;
  }
}